<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <div class="text-center mt-2">
        <h1>Welcome to Ford Mustang App</h1>
        <p class="text-center mt-2 my-text-color">
            Ford Mustang is a site for fans of the American brand known for its legendary muscle cars.</p>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>