<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>

    <div class="container mt-5 text-center">
        <h2>About</h2>
        <p class="mt-3">
            Ford Mustang App is a site for fans of the American brand, which offers various functionalities and
            experiences for them.
        </p>
    </div>

</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
